*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo img{
    box-sizing: initial;
}
.theme p{
    text-align: center;
}
.choix_theme{
    display: flex;
    justify-content: center;
    height: 15vh;
    margin-top: 10px;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.label {
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}
.label .ball {
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
.fa-moon {
    color: #f1c40f;
}
.fa-sun {
    color: #f39c12;
}
.sub{
    margin-top: 20px;
    margin-left: -20px;
    width: 100px;
    height: 30px;
    color: white;
    border-width: 0;
    border-radius: 50px;
}
.change form{
    align-items: center;
    margin: auto;
}
.change_center{
    width: 220px;
    margin: 10px auto auto auto;
}
.change form .change_center #nom, .change form .change_center #desc {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border-color: var(--tw-blue);
}
#sub3{
    margin-left: 50px;
}
