*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    display: grid;
    grid-template-columns:26% 39% 35%;
    position: static;
}
.option_menu{
    width: 99.8%;
    position: static;
}
.option_center{
    width: 75%;
    margin: 0 auto;
}
.logo img{
    padding: 4% 0 4% 17%
}
.logo img{
    width: 50px;
    height: 50px;
}
.option{
    display:grid;
}
.option div a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding:12px 15px;
    border-radius: 30px;
}
.logo .option a img{
    height: 20px;
    padding-top: 10px;
}
.option div{
    padding:2% 0 8% 15%;
}
.option div a i{
    margin-right: 15px;
}
.option div a:hover{
    transition-duration: 0.1s;
}
.option button{
    padding: 15px 80px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.option button:hover{
    transition-duration: 0.1s;
}
.content_menu{
    width: 99.6%;
}
.prefer{
    width: 100%;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.prefer span{
    padding: 0 20px;
}
.prefer span a{
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
}
.prefer span i{
    font-size: 18px;
}
.you_tweet_other_tweet{
    overflow-y: hidden;
}
.you_tweet_other_tweet:hover{
    overflow-y: auto;
}
.your_tweet{
    display: block;
    width: 100%;
    height: 130px;
}
.profil_message{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 15px;
}
.profil_message img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.9;
}
.profil_message img:hover{
    opacity: 1;
}
.profil_message span input{
    padding: 0 0 0 10px;
    font-size: 18px;
    width: 100%;
    letter-spacing: 1px;
    border: none;
    outline: none;
}
.your_tweet span button{
    float: right;
    margin-right: 20px;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 700;
}
.others_tweets{
    width: 100%;
}
.other_tweet{
    width: 100%;
}
.profil_msg{
    display: grid;
    grid-template-columns: 12% 76% 12%;
    padding:20px 0 10px;
    align-items: center;
}
.other_profile{
    padding: 0 0 0 10px;
    width: 60px;
}
.other_profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.9;
    cursor: pointer;
}
.other_profile img:hover{
    opacity: 1;
}
.name_msg span i{
    padding: 0 4px 0 4px;
    font-size: 20px;
}
.name-msg{
    cursor:pointer;
}
.name-msg small{
    float: right;
}
.msg{
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0 0 0;
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
}
.name_msg span b:hover{
    text-decoration: underline;
}
.more_options{
    cursor:pointer;
}
.image_video{
    margin: 0 0 0 12%;
}
.image_video img{
    border-radius: 20px;
    width: 90%;
    max-height: 280px;
}
.your_reaction{
    margin: 3% 0 5% 25%;
    display: flex;
    justify-content: space-around;
    width: 70px;
    opacity: 0.7;
}
.your_reaction div{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
}
.your_reaction div p{
    padding: 0 0 0 5px;
    font-size: 12px;
}
.your_reaction div i{
    font-size: 20px;
    padding: 5px 5px;
}
.trending_menu{
    width: 100%;
}
.trending_center{
    width: 85%;
    margin: 0 0 0 50px;
}
.search{
    width: 100%;
    height: 55px;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 1000;
}
.search input{
    width: 80%;
    height: 40px;
    margin: 1% 0 0 0;
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 0 20px 0 50px;
    font-size: 15px;
}
.search span{
    position: absolute;
    left: 5%;
    top: 12px;
    font-size: 20px;
    font-weight: 100;
}
.trending{
    width: 80%;
    border-radius: 20px;
    margin: 0 0 20px 0;
    max-height: 433px;
    max-width: 500px;
}
.trending:hover{
    overflow-y: auto;
}
.header{
    width: 100%;
    height: 55px;
    border-radius: 20px;
}
.header p{
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 20px;
}
.trends{
    width: 100%;
}
.trend{
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: inherit;
}
.trend_msg{
    margin: 15px 0 0 20px;
    background-color: inherit;
}
.trend_name{
    margin: 0 0 10px 0;
    background-color: inherit;
    cursor: pointer;
}
.trend_name p, .trend_with p{
    font-size: 12px;
    opacity: 0.6;
    background-color: inherit;
}
.trend_with{
    margin: 0 0 20px 0;
    cursor: pointer;
    background-color: inherit;
}
.subject p{
    font-size: 15px;
    font-weight: 600;
    text-justify: inter-word;
    word-wrap: break-word;
    margin: 0 0 10px 0;
    cursor: pointer;
}
.trend-with p a{
    text-decoration: none;
}
.trend-with p a:hover{
    text-decoration: underline;
    opacity: 1;
}
.trend:hover{
}
.show_more{
    padding: 20px 20px;
    border-radius: 20px;
}
.show_more a{
    text-decoration: none;
}
.show_more:hover{
    border-radius: 0 0 20px 20px;
}


@media only screen and (max-width: 1450px){
    .option span{
        display: none;
    }
    .option button{
        padding: 10px 10px;
    }
    .container{
        grid-template-columns: 10% 50% 40%;
    }
    .option_center{
        width: 99.6%;
    }
    .option_center .logo img{
        padding-left: 30px;
    }
    .option div a i{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
        border-radius: 50%;
    }
    .profil_msg{
        grid-template-columns: 13% 60% 35%;
    }
}

@media only screen and (max-width: 960px){
    .trending_menu{
        display: none;
    }
    .container{
        grid-template-columns: 100px 80%;
    }
    .profil_msg{
        grid-template-columns: 15% 60% 30%;
    }
}
@media only screen and (max-width: 500px){
    .option_menu{
        display:none;
    }
    .container{
        grid-template-columns: 100%;
    }
    .profil_msg{
        grid-template-columns: 17% 73% 0;
    }
}