*{
    --tw-blue: #00a7ff;
    --tw-white-hover: #e1f5ff;
    --tw-blue-hover: #0093ff;
    --tw-border: #e8e8e8;
    --tw-grey: #5d5d5d;
    --tw-grey2: #454545;

}

.option div a{
    color: black;
}
.option div a:hover{
    color: var(--tw-blue);
    background-color: var(--tw-white-hover);
}
.option button{
    background-color: var(--tw-blue);
    color: white;
}
.option button:hover{
    background-color: var(--tw-blue-hover);
}
.content_menu{
    border-right: 1px solid var(--tw-border);
    background-color: white;
}
.prefer{
    border-bottom: 1px solid var(--tw-border);
    border-left: 1px solid var(--tw-border);
    background-color: white;
}
.prefer span a{
    color: black;
}
.prefer span i{
    color: var(--tw-blue);
}
.you_tweet_other_tweet{
    border-left: 1px solid var(--tw-border);
}
.your_tweet{
    border-bottom: 10px solid var(--tw-border);
}
.profil_message input.twoot{
    color: #525252;
}
.your_tweet .profil_message form input.sub_twoot{
    background-color: var(--tw-blue);
    color: white;
}
.your_tweet .profil_message form input.sub_twoot:hover{
    background-color: var(--tw-blue-hover);
}
.your_reaction i{
    color: black;
}
.label-file{
    color: var(--tw-blue);
    background-color: inherit;
}
.label-file:hover {
    color: #25a5c4;
}
.other_tweet{
    border-bottom: 1px solid var(--tw-border);
    border-left: 1px solid var(--tw-border);
}
.name_msg span i{
    color: var(--tw-blue);
}
.name-msg span p{
    color: var(--tw-grey);
}
.name_msg span b{
    color: black;
}
.msg{
    color: black;
}
.comment:hover{
    color: var(--tw-blue);
}
.retweet:hover{
    color: green;
}
.like a{
    color: black;
}
.bookmark a{
    color: black;
    text-decoration: none;
}
.like a:hover, .like a:visited{
    color: red;
    text-decoration: none;
}
.bookmark a:hover, .bookmark a:visited{
    color: var(--tw-blue);
    text-decoration: none;
}
.search{
    background-color: white;
}
.search input{
    background-color: #ebebeb;
}
.search span{
    color: var(--tw-grey2);
}
.trending{
    background-color: #efefef;
}
.trend{
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d8d8d8;
}
.trend-with p a{
    color: var(--tw-blue);
}
.trend:hover{
    background-color: var(--tw-border);
}
.show_more a{
    color: var(--tw-blue);
}
.show_more:hover{
    background-color: var(--tw-border);
}
/*setting theme*/
.label {
    background-color: #1F1F1F;
}
.label .ball {
    background-color: white;
}
.sub{
    background-color: #00a7ff;
}
.change form span{
    color: black;
}
.change form span:hover{
    color: black;
}