*{
    --tw-blue: #00a7ff;
    --tw-white-hover: #e1f5ff;
    --tw-blue-hover: #0093ff;
    --tw-border: #292c2f;
    --tw-grey: #696e73;
    --tw-grey2: #202327;
    background-color: black;
}

.option div a{
    color: white;
}
.option div a:hover{
    color: white;
    background-color: rgba(40, 40, 40);
}
.option div a:hover span, .option div a:hover i{
    background-color: rgba(40, 40, 40);
}
.option button{
    background-color: var(--tw-blue);
    color: black;
}
.option button:hover{
    background-color: var(--tw-blue-hover);
}
.content_menu{
    border-right: 1px solid var(--tw-border);
    background-color: black;
}
.prefer{
    border-bottom: 1px solid var(--tw-border);
    border-left: 1px solid var(--tw-border);
    background-color: black;
}
.prefer span a{
    color: white;
}
.prefer span i{
    color: var(--tw-blue);
}
.you_tweet_other_tweet{
    border-left: 1px solid var(--tw-border);
}
.your_tweet{
    border-bottom: 10px solid var(--tw-border);
}
.profil_message span input{
    color: white;
}
.your_tweet span button{
    background-color: var(--tw-blue);
    color: black;
}
.your_tweet span button:hover{
    background-color: var(--tw-blue-hover);
}
.other_tweet{
    border-bottom: 1px solid var(--tw-border);
    border-left: 1px solid var(--tw-border);
}
.other_tweet .your_reaction{
    color: var(--tw-grey);
}
.name_msg span i{
    color: var(--tw-blue);
}
.name-msg span p{
    color: var(--tw-grey);
}
.name_msg span b{
    color: white;
}
.msg{
    color: white;
}
.comment:hover{
    color: var(--tw-blue);
}
.retweet:hover{
    color: green;
}
.like:hover{
    color: red;
}
.bookmark:hover{
    color: var(--tw-blue);
}
.search{
    background-color: black;
}
.search input{
    background-color: var(--tw-grey2);
}
.search span i{
    background-color: var(--tw-grey2);
}
.search span{
    color: white;
}
.trending{
    background-color: var(--tw-grey2);
}
.header{
    border-bottom: 1px solid var(--tw-border);
}
.trend{
    border-bottom: 1px solid var(--tw-border);
}
.trend-with p a{
    color: var(--tw-blue);
}
.trend:hover{
    background-color: var(--tw-grey2);
}
.show_more a{
    color: var(--tw-blue);
}
.show_more:hover{
    background-color: var(--tw-grey2);
}