*{
    --tw-blue: #00a7ff;
    --tw-white-hover: #e1f5ff;
    --tw-blue-hover: #0093ff;
    --tw-border: #292c2f;
    --tw-grey: #696e73;
    --tw-grey2: #202327;
    background-color: black;
}

.option div a{
    color: white;
}
.option div a:hover{
    color: white;
    background-color: rgba(40, 40, 40);
}
.option div a:hover span, .option div a:hover i{
    background-color: rgba(40, 40, 40);
}
.option button{
    background-color: var(--tw-blue);
    color: white;
}
.option button:hover{
    background-color: var(--tw-blue-hover);
}
.content_menu{
    border-right: 1px solid var(--tw-border);
    background-color: black;
}
.prefer{
    border-bottom: 1px solid var(--tw-border);
    border-left: 1px solid var(--tw-border);
    background-color: black;
}
.prefer span a{
    color: white;
}
.prefer span i{
    color: var(--tw-blue);
}
.you_tweet_other_tweet{
    border-left: 1px solid var(--tw-border);
}
.your_tweet{
    border-bottom: 10px solid var(--tw-border);
}
.profil_message input.twoot{
    color: white;
}
.your_tweet .profil_message form input.sub_twoot{
    background-color: var(--tw-blue);
    color: white;
}
.label-file{
    color: var(--tw-blue);
    background-color: inherit;
}
.label-file:hover {
    color: #25a5c4;
}
.you_tweet_other_tweet .your_tweet .profil_message form input.sub_twoot:hover{
    background-color: var(--tw-blue-hover);
}
.other_tweet{
    border-bottom: 1px solid var(--tw-border);
    border-left: 1px solid var(--tw-border);
}
.other_tweet .your_reaction{
    color: var(--tw-grey);
}
.name_msg span i{
    color: var(--tw-blue);
}
.name-msg span p{
    color: white;
}
.name_msg span{
    color: white;
}
.msg{
    color: white;
}
.comment:hover{
    color: var(--tw-blue);
}
.retweet:hover{
    color: green;
}
.like:hover{
    color: red;
}
.bookmark:hover{
    color: var(--tw-blue);
}
.search{
    background-color: black;
}
.search input{
    background-color: var(--tw-grey2);
}
.search input{
    color: white;
}
.search span, .search span i{
    background-color: var(--tw-grey2);
}
.search span i{
    color: #97989a;
}
.trending{
    background-color: #16181c;
}
.header{
    background-color: #16181c;
    color: white;
}
.header p{
    background-color: #16181c;
    color: white;
}
.trend{
    border-top: 1px solid var(--tw-border);
    border-bottom: 1px solid var(--tw-border);
}
.trend, .trend > div, .trend div p{
    background-color: #16181c;
    color: white;
}
.trend:hover{
    background-color: var(--tw-grey2);
}
.trend_msg, .trend_msg p,.trend_msg a,.trend_msg .trend_name,.trend_with, .show_more{
    color: white;
    background-color: #16181c;
}
.trend:hover, .trend:hover div,.trend:hover .trend_msg .trend_name,.trend:hover .trend_with, .trend:hover p, .trend:hover a{
    background-color: var(--tw-grey2);
}
.trend-with p a{
    color: var(--tw-blue);
}
.show_more a{
    color: var(--tw-blue);
    background-color: #16181c;
}
.show_more:hover, .show_more:hover a{
    background-color: var(--tw-grey2);
}
label .label_search{
    background-color: black;
}
/*setting theme*/
.choix_theme{
    background-color: black;
}
.label {
    background-color: white;
}
.label .ball {
    background-color: black;
}
.sub{
    background-color: #00a7ff;
}
body.dark {
    background: #292C35;
}
.fa-moon {
    color: #f1c40f;
    background-color: white;
}

.fa-sun {
    color: #f39c12;
    background-color: white;
}
/*paramètres*/
.change form span{
    color: white;
}
.change form input{
    color: white;
}